:root {
	--spacing-s: 4px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
}

#about {
	position: relative;
	background-color: #1d273b;
	background-image: url(../../assets/polygon-scatter-Dark.svg);
	background-size: 107%;
	animation: backgroundMoveAbout 115s linear infinite;
}
.app__about {
	flex: 1;
	width: 100%;
	flex-direction: column;
}
h2 {
	background: linear-gradient(
		to left,
		var(--secondary-color),
		var(--fourth-color),
		var(--third-color),
		var(--secondary-color),
		var(--third-color),
		var(--fourth-color),
		var(--third-color),
		var(--secondary-color),
		var(--fourth-color),
		var(--secondary-color)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #2e2e2e;
	background-size: 200%;
	animation: bgPan 9s linear infinite;

	span {
		color: #2e2e2e;
	}
}
.hero-section {
	align-items: flex-start;
	display: flex;
	width: 100%;
	height: 100%;
	// min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-s);
	grid-row-gap: var(--spacing-s);
	// max-width: var(--width-container);
	width: 95rem;

	@media (min-width: 540px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 960px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	list-style: none;
	position: relative;
	margin: 2rem 3rem;

	&:before {
		content: "";
		display: block;
		padding-bottom: 150%;
		width: 100%;
	}

	&:hover::before {
		padding-bottom: 160%;
		color: #2e2e2e;
	}

	&__background {
		background-image: url(../../assets/about01.png);
		background-size: cover;
		background-position: center;
		border-radius: var(--spacing-m);
		bottom: 0;
		filter: brightness(0.55) saturate(1.2) contrast(1);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform-origin: center;
		transform: scale(1) translateZ(0);
		transition: filter 200ms linear, transform 200ms linear;
	}

	&:hover &__background {
		transform: scale(1.25) translateZ(0);
		filter: brightness(0.95);

		&__content {
			transform: scale(1.25) translateZ(0);
			filter: brightness(0.95);
		}
	}

	&__content {
		left: 0;
		padding: var(--spacing-m);
		position: absolute;
		top: 0;
	}

	&__category {
		color: var(--white-color);
		font-size: 0.9rem;
		margin-bottom: var(--spacing-s);
		text-transform: uppercase;
	}

	&__heading {
		color: var(--white-color);
		font-size: 1.9rem;
		text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
		line-height: 1.4;
		word-spacing: 100vw;
	}
}

.card-grid:hover > .card:not(:hover) .card__background {
	filter: brightness(0.4) saturate(0) contrast(1.2) blur(15px);
}

// wave bg ani
@keyframes backgroundMoveAbout {
	from {
		background-position: 0 center;
	}
	to {
		background-position: 600% center;
	}
}

// texxt-gradient-bg ani
@keyframes bgPan {
	from {
		background-position: 0% center;
	}
	to {
		background-position: -200% center;
	}
}
