#contact {
	position: relative;
	background-image: url(../../assets/layered-waves-haike-footer-dark.svg);
	background-repeat: no-repeat;
	background-position: 0 -20rem;
	background-size: 200%;
	animation: footermove 4s alternate-reverse ease-in-out infinite;

   @media screen and(max-width:840px) {
      background-size: 430%;
		animation: footermoveMobile 3s alternate-reverse ease-in-out infinite;
	}
}

.app__footer {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__footer-cards {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 4rem 2rem 2rem;

	.app__footer-card {
		min-width: 290px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: 10px;
		cursor: pointer;
		background: linear-gradient(245deg, var(--secondary-color), var(--third-color));
		transition: all 0.25s ease-in-out;

		img {
			width: 40px;
			height: 40px;
			margin: 0 0.7rem;
		}

		p {
			font-weight: 600;
		}
		a {
			text-decoration: none;
			font-weight: 500;
		}

		&:hover {
			box-shadow: 0 0 10px #387eff9c;
			// scale: 1.05;
		}

		@media screen and(max-width:450px) {
			width: 100%;
		}
	}
	@media screen and(max-width:768px) {
		width: 100%;
	}
}

// .app__footer-cards .app__footer-card:last-child {
// 	background-color: #dbfffe;

// 	&:hover {
// 		box-shadow: 0 0 25px #bff2f0;
// 	}
// }

.app__footer-form {
	width: 60%;
	flex-direction: column;
	margin: 1rem 2rem;

	div {
		width: 100%;
		margin: 0.75rem 0;
		border-radius: 10px;
		cursor: pointer;
		background-color: #2a3b5d;
		transition: all 0.25s ease-in-out;

		input,
		textarea {
			width: 100%;
			padding: 0.95rem;
			border: none;
			border-radius: 7px;
			background-color: #283857;

			font-family: var(--font-base);
			color: var(--white-color);
			outline: none;
			box-shadow: 0 0 10px #387eff55;
		}
		::placeholder {
			color: var(--secondary-color);
			opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			color: var(--secondary-color);
		}

		::-ms-input-placeholder {
			/* Microsoft Edge */
			color: var(--secondary-color);
		}

		textarea {
			height: 170px;
		}
	}

	button {
		padding: 1rem 2rem;
		border-radius: 10px;
		border: none;
		background-color: var(--secondary-color);
		font-weight: 500;
		color: var(--white-color);
		outline: none;
		margin: 2rem 0 0 0;
		cursor: pointer;
	}
	@media screen and(max-width:768px) {
		width: 100%;
		margin: 1rem 0;
	}
}

@keyframes footermove {
	0% {
		background-position: -10rem -5rem;
	}
	100% {
		background-position: -50rem -5rem;
	}
}
@keyframes footermoveMobile {
	0% {
		background-position: 0rem -5rem;
	}
	100% {
		background-position: -40rem -5rem;
	}
}
