#home {
	position: relative;
	// background: url("../../assets/bgIMG.png");
	// background-size: cover;
	// background-repeat: repeat;
	// background-position: center;
	// need to fix bg on mobile
	background-image: url(../../assets/layered-waves-haikei200.svg);
	background-repeat: no-repeat;
	background-position: 0 bottom;
	background-size: 230%;
	animation: bgmovePC 3s alternate-reverse ease-in-out infinite;

	@media screen and(max-width:740px) {
		background-size: 330%;
		animation: bgmoveMobile 3s alternate-reverse ease-in-out infinite;
	}

	.app__wrapper {
		padding: 0;

		.copyright {
			display: none;
		}
	}
}

.disable-text-selection {
	-moz-user-select: none; /* firefox */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE*/
	user-select: none; /* Standard syntax */
}
.app__header {
	flex: 1;
	width: 100%;
	height: 100%;
	flex-direction: row;

	padding: 6rem 2rem 0;

	@media screen and (min-width: 2000px) {
		padding-top: 8rem;
	}
	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
	@media screen and (max-width: 400px) {
		padding: 6rem 0rem 2rem;
	}
}

.app__header-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;

	@media screen and(max-width:2000px) {
		width: 100%;
	}
}

.app__header-badge {
	padding-top: 4rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	z-index: 4;

	@media screen and(max-width:480px) {
		padding: 2rem 2rem 0;
	}

	.badge-cmp,
	.tag-cmp {
		padding: 1rem 2.5rem;
		border: var(--white-color);
		border-radius: 10px;
		flex-direction: row;
		width: auto;
		background-color: var(--secondary-color);
		box-shadow: 0 0 20px rgba(0, 157, 255, 0.652);

		h1 {
			color: var(--white-color);
		}

		@media screen and(max-width:480px) {
			padding: 1rem 1rem;
		}
	}

	.tag-cmp {
		flex-direction: column;
		margin-top: 2rem;

		p {
			width: 100%;
			text-transform: uppercase;
			text-align: right;
		}
	}

	span {
		font-size: 2.5rem;

		@media screen and(min-width:2000px) {
			font-size: 5rem;
		}
	}

	@media screen and (max-width: 1200px) {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

@keyframes bgmovePC {
	0% {
		background-position: 0rem bottom;
	}
	100% {
		background-position: -60rem bottom;
	}
}
@keyframes bgmoveMobile {
	0% {
		background-position: 0rem bottom;
	}
	100% {
		background-position: -50rem bottom;
	}
}
