@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
	--font-base: "DM Sans", sans-serif;

	--primary-color: #ecf2ff;
	--secondary-color: #387eff;
	--third-color: #0059ff;
	--fourth-color: #0244c0;
	--fourthO-color: #0244c080;
	--fifth-color: #0244c051;
	--sixth-color: #0244c028;
	--black-color: #030303;
	--lightGray-color: #e4e4e4;
	--gray-color: #6b7688;
	--brown-color: #46364a;
	--white-color: #ffffff;
	--test-color: #ffe6de;
	--background-color: #262626;
	--rectangle-color: #1d273b;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
